<DOCTYPE!html>

  <head>
    <link rel="stylesheet" type="text/css" href="claranews.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"> 
    <meta charset="UTF-8">
    <title>Clara Capital</title>
  </head>

  <body>
    <div class="content">

    <h6 class="data_no_cabecalho"> Todo dia é Dia de Truvs, 2019 </h6>

    <img src="./claracap.jpg" class="claracap">

    <div class="cabecalho">
      <ul style="list-style-type: none;">
       <a> Piadas de tio </a> 
       <a> Histórias duvidosas </a> 
       <a> Origins: por trás da lenda </a>
       <a> Cláudia: um alter ego</a> 
      </ul>
    </div>
   
    <h6 class="destaque">Escândalo</h6>
    <span class="manchete"><h1>Trainee é flagrada escapulindo para Recife no meio do PT</h1>
    <span class="texto"> Testemunhas se dizem surpresas com tamanha cara de pau, embora a acusada alegue estar indo apenas para a formatura de sua irmã</span>
    </span>
    </br>
    <img class="meme" src="photo 1 (1).JPG" alt="Meme criado em 2015. Créditos: diretoria de marketing Umanità">
   
    
    <div class="lateral">
        <div class="manchetinhas">
          <div class="tit_manchetinhas"><h1>Outra Clara se diz #cansadah</h1></div>
          <span class="paragrafo"> "Não aguento mais a confusão, alguém tem que inventar um apelido que pegue", deClara</span></br>
          <img src="./claras.jpg" class="claras" alt="releitura moderna do meme homem aranha">
        </div>
    </div>

    <div class="manchetes_menores">

        <div class="manchetinhas">
          <h6 class="destaque">Previsão do clima</h6>
          <div class="tit_manchetinhas"><h1>Calor pra claralho</h1></div>
          <span class="paragrafo"> Em Recife e em Brasília: a previsão é que fique quente pra misera nos próximos dias</span>
          <img src="./mariaclaramendes.png" class="claras" alt="muito sol vei muito sol">
        </div> 

        <div class="manchetinhas">
          <h6 class="destaque">Será que já passou do limite</h6>
          <div class="tit_manchetinhas"><h1>Narcisismo: quando é hora de parar de fazer trocadilhos com o próprio nome?</h1></div>
          <span class="paragrafo"> A produção pede desculpas pelo excesso de trocadilhhos de gosto duvidoso, informando que uma vez que se começa é difícil de parar</span></br>
          <img src="./narciso.jpg" class="claras" alt="clarciso. pronto PAREI">
        </div>
    </div>
  </div>
  

  </body>

  </html>